<div class="app-login-form">
    <h2>{{loginFlag?"Login here":"SignUp here"}}</h2>
    <form #loginForm="ngForm" (ngSubmit)="login_submit(loginForm)">
        <div class="form-input">
            <label>Email Address</label>
            <input type="email" placeholder="Email address"  name="email" ngModel>
        </div>
        <div class="form-input">
            <label>Password</label>
            <input type="password" placeholder="Password" name="password" ngModel>
        </div>           
        <button type="submit" class="app-login-btn">{{loginFlag?"Login":"SignUp"}}</button>
        <p>{{loginFlag?"Do not have an accout yet?":"Already a member?"}} 
            <button class="app-toggle-btn" (click)="switch()">{{loginFlag?"Register here":"Login here"}}</button>
        </p>
    </form>
</div>